@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="MyOrderInfoForm">

            <input id="id" value="${item.id}" type="hidden"/>
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="user" name="下单人名称" value="${item.user}" underline="true"/>
                            <#input id="place" name="地点" value="${item.place}" />
                </div>

                <div class="col-sm-6">
                            <#input id="goods" name="商品名称" value="${item.goods}" underline="true"/>
                            <#input id="createtime" name="下单时间" value="${item.createtime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="MyOrderInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="MyOrderInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/myOrder/myOrder_info.js"></script>
<script>
    laydate.render({
        elem:'#createtime'
    });
</script>
@}
