@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>测试数据范围管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3">
                                <#NameCon id="id" name="id" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="orderName" name="订单名" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="orderNum" name="订单数量" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="orderTo" name="订单发往地" />
                            </div>
                            <div class="col-sm-3">
                                <#NameCon id="deptid" name="所属公司id" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="Test.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="TestTableToolbar" role="group">
                            @if(shiro.hasPermission("/test/add")){
                                <#button name="添加" icon="fa-plus" clickFun="Test.openAddTest()"/>
                            @}
                            @if(shiro.hasPermission("/test/update")){
                                <#button name="修改" icon="fa-edit" clickFun="Test.openTestDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/test/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="Test.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="TestTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/tempO/test/test.js"></script>
@}
