@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="ScoreInfoForm">

            <input id="id" value="${item.id}" type="hidden"/>
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="studentId" name="学生id" value="${item.studentId}" underline="true"/>
                            <#input id="experimentId" name="实验id" value="${item.experimentId}" underline="true"/>
                            <#input id="studentName" name="学生名" value="${item.studentName}" underline="true"/>
                            <#input id="experimentName" name="实验名" value="${item.experimentName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="attendanceNum" name="到勤数" value="${item.attendanceNum}" underline="true"/>
                            <#input id="score" name="成绩" value="${item.score}" underline="true"/>
                            <#input id="teacherName" name="老师名字" value="${item.teacherName}" underline="true"/>
                            <#input id="teacherId" name="老师id" value="${item.teacherId}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ScoreInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ScoreInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/laboratory/score/score_info.js"></script>
@}
