@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="UseInfoForm">

            <input id="id" value="${item.id}" type="hidden"/>
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="good" name="货物" value="${item.good}" />
                </div>

                <div class="col-sm-6">
                            <#input id="papap" name="怕怕" value="${item.papap}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UseInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UseInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/test/use/use_info.js"></script>
@}
