@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal" id="ApplyLaboratoryInfoForm">

            <input id="id" value="${item.id}" type="hidden"/>
            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="experimentId" name="申请的实验id" value="${item.experimentId}" underline="true"/>
                            <#input id="laboratoryId" name="申请的实验室id" value="${item.laboratoryId}" underline="true"/>
                            <#input id="experimentName" name="实验名" value="${item.experimentName}" underline="true"/>
                            <#input id="laboratoryName" name="实验室名" value="${item.laboratoryName}" />
                </div>

                <div class="col-sm-6">
                            <#input id="applyBeginTime" name="申请使用时间" value="${item.applyBeginTime}" underline="true"/>
                            <#input id="applyEndTime" name="申请结束时间" value="${item.applyEndTime}" underline="true"/>
                            <#input id="status" name="状态 0:待审核 1:成功 2:失败" value="${item.status}" underline="true"/>
                            <#input id="comment" name="备注" value="${item.comment}" underline="true"/>
                            <#input id="teacherId" name="老师ID" value="${item.teacherId}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ApplyLaboratoryInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ApplyLaboratoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/laboratory/applyLaboratory/applyLaboratory_info.js"></script>
@}
